.headerbackground{
    width: 100%;
    height: 660px;
    background-image: url(https://24segons.files.wordpress.com/2015/05/555088-101-jordan-1-retro-og-chicago-2-1010x673-jpeg-pagespeed-ce_-onv84wdwht.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding-top: 100px;
}
.titlesContainer{
background-color: rgba(0, 0, 0, 0.452);
padding: 30px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align:center;
color: rgb(212, 212, 212);
border-radius: 10px;
}
.titleHeader{
    border-top: 2px solid red;
    margin: 0;
    font-size:80px;
}
.conteinerSubTitle{
    border-bottom: 2px solid red;
}
.subTitleHeader{
    margin-bottom: 0;
    color: rgba(212, 212, 212, 0.644);
    font-size:40px;
    text-shadow: 1px 0.5px rgba(255, 255, 255, 0.418);
}