body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --fondo:#c4c4c4;
  --fondo2:#1b1b1b;
  --navBar:#000000;
  --text1:#313131;
  
}

::-webkit-scrollbar {
	width: 10px;
  background-color: rgb(31, 30, 30);
}

::-webkit-scrollbar-thumb {
  
	border-radius: 10px;
	background-color: rgba(145, 17, 17, 0.774);
}



