body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --fondo:#c4c4c4;
  --fondo2:#1b1b1b;
  --navBar:#000000;
  --text1:#313131;
  
}
